{%extends 'base.html'%}
    {%block content%}
    {%include 'base_search.html'%}
    {%load static%}
        <div id='register_form'>
            <h2>建立個人帳戶</h2>
            <form action = '' method="POST"> {% csrf_token %}
                <table align="left">
                    <tr>
                        <td>姓名：</td>
                        <td>{{user_data.name}}</td>
                    </tr>
                    <tr>
                        <td>生理性別：</td>
                        <td>{{user_data.gender}}</td>
                    </tr>
                </table>
                {{new_user.as_p}}
                <td><input type="submit" value="註冊" id = 'login_button'></td>
            </form>
        </div>
        
    {%endblock%}