{% extends 'base.html' %}

{% block content %}
{%include 'base_search.html'%}
    <div id="display_format">
        <form>
            <table>
                <tr>
                    <td>動物物名稱：</td>
                    <td><input type="text" required name = 'animal_name'></td>
                    <td><input type ="submit" value="查詢"></td>
                    {%if request.user.is_superuser%}
                    <td><input type="button" value="新增動物" onclick="location.href='./insert/'"></td>
                    {%endif%}
                </tr>
            </table>
        </form>
        <table>
            <tr>
                <th>名字</th>
                <th>學名</th>
                <th>種</th>
                <th>分布地區</th>
                <th>分布園區</th>
            </tr>
            {% for animal in animal_info%}
                <tr>
                    <td><a href = "./{{animal.animal_id}}/">{{animal.animal_name}}</a></td>
                    <td>{{animal.scientific_id}}</td>
                    <td>{{animal.category}}</td>
                    <td>{{animal.h_id.continent}}-{{animal.h_id.weather}}-{{animal.h_id.terrian}}</td>
                    <td>{{animal.area_id.theme}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}