{% extends 'base.html' %}

{% block content %}
{% load subtract %}
    <div>
        <form>
            <table>
                <tr>
                    <td>園區主題：</td>
                    <td><input type="text" required name = 'area_name'></td>
                    <td><input type ="submit" value="查詢"></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>園區代碼</th>
                <th>園區主題</th>
                <th>園區位置</th>
                <th>鄰近園區</th>
                <th>特殊休息時間</th>
            </tr>
            {% for area in area_info%}
                <tr>
                    <td>{{area.area_id}}</td>
                    <td>{{area.theme}}</td>
                    <td>{{area.position}}</td>
                    <td>{{area.nearby}}</td>
                    <td>{{area.close_time}}</td>
                    <td>{{area.distance}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}