{% extends 'base.html' %}

{% block content %}
{%include 'base_search.html'%}
    <div>
        <H1>{{area.theme}}</H1>
    </div>
    <div>
        <h3>動物：</h3>
        <table>
            <tr>
                <th>名字</th>
                <th>學名</th>
                <th>種</th>
                <th>分布地區</th>
                <th>分布園區</th>
            </tr>
            {% for animal in animal_info%}
                <tr>
                    <td><a href = "/search/animal/{{animal.animal_id}}/">{{animal.animal_name}}</a></td>
                    <td>{{animal.scientific_id}}</td>
                    <td>{{animal.category}}</td>
                    <td>{{animal.h_id.continent}}-{{animal.h_id.weather}}-{{animal.h_id.terrian}}</td>
                    <td>{{animal.area_id.theme}}</td>
                </tr>
            {% endfor %}
        </table>
        
        <h3>服務設施：</h3>
        <table>
            <tr>
                <th>服務類別</th>
                <th>名稱</th>
            </tr>
            {% for facility in area.facility_set.all %}
            <tr>
                <td>{{facility.type}}</td>
                <td>{{facility.name}}</td>
            </tr>
            {% endfor %}
  
        </table>


        <form action="../">
            <input type ="button" onclick="history.back()" value="回到上一頁"></input>
        </form>
    </div>
{% endblock %}