{% extends 'base.html' %}
{% block content %}
{%include 'base_search.html'%}
<h1>{{individual_animal.name}}</h1>

<div>
    <table>
        <tr>
            <td>種類</td>
            <td>{{individual_animal.animal_id.animal_name}}</td>
        </tr>
        <tr>
            <td>年齡</td>
            <td>{{individual_animal.age}}</td>
        </tr>
        <tr>
            <td>進館年分</td>
            <td>{{individual_animal.year_in}}</td>
        </tr>
    </table>

    <form action="../animal">
        <input type ="button" onclick="history.back()" value="回到上一頁"></input>
    </form>
</div>

{% endblock %}