{% extends 'base.html' %}
{% block content %}

<h2>修改個人資料：{{the_zookeeper.name}} 飼育員</h2>
    <div>
        <form method="POST"> {%csrf_token%}
            <table>
                <tr>
                    <th>員工編號</th>
                    <td>{{the_zookeeper.keeper_id}}</td>
                </tr>
                <tr>
                    <th>姓名</th>
                    <td><input type = 'text' name = 'z_name'value = {{the_zookeeper.name}}></td>
                </tr>
                <tr>
                    <th>出生年</th>
                    <td><input type="number" name = 'z_birth'value = {{the_zookeeper.birth}}></td>
                </tr>
                <tr>
                    <th>開始服務年（西元）</th>
                    <td><input type="number" name = 'z_join_time'value = {{the_zookeeper.join_time}}> 年</td>
                </tr>
                <tr>
                    <th>管區編碼</th>
                    <td><input type="number", name = 'z_area_id' value ={{the_zookeeper.area_id.area_id}}></td>
                </tr>
                
            </table>
            <input type ="submit" value="修改">
            <input type ="button" onclick="history.back()" value="取消/返回"></input>
        </form>
    </div>
{% endblock %}