{% extends 'base.html' %}
{% block content %}

{%include 'base_search.html'%}
    <div id = "insert">
        <form method="POST"> {%csrf_token%}
            <table>
                <tr>
                    <th>員工編號</th>
                    <td><input type="number" name = 'z_id'> 號</td>
                </tr>
                <tr>
                    <th>姓名</th>
                    <td><input type = 'text' name = 'z_name'></td>
                </tr>
                <tr>
                    <th>出生年（西元）</th>
                    <td><input type="number" name = 'z_birth'></td>
                </tr>
                <tr>
                    <th>開始服務年（西元）</th>
                    <td><input type="number" name = 'z_join_time'> 年</td>
                </tr>
                <tr>
                    <th>管區編碼</th>
                    <td><input type="number", name = 'z_area_id'></td>
                </tr>
                
            </table>
            <input type ="submit" value="新增">
            <input type ="button" onclick="history.back()" value="取消"></input>
        </form>
    </div>
{% endblock %}